<button nbButton status="primary" size="large" (click)="playOnceScan()" [nbTooltip]="constants.TOOLTIP_RUNONCE" [disabled]="rowData.running"
          [nbSpinner]="rowData.running" nbSpinnerStatus="primary" nbSpinnerSize="medium" nbSpinnerMessage="">
  <nb-icon icon="play-circle-outline" pack="eva" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
</button>&nbsp;
<button nbButton status="info" size="medium" (click)="openDialog(editProject)" [nbTooltip]="constants.TOOLTIP_EDIT" >
  <nb-icon icon="link-outline" pack="eva" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
</button>&nbsp;
<button nbButton status="danger" size="medium" (click)="deleteWebApp()" [nbTooltip]="constants.TOOLTIP_DELETE_PROJECT" >
  <nb-icon icon="trash" pack="eva" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
</button>
<ng-template #editProject let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>{{constants.CODE_PROJECT_EDIT}}</nb-card-header>
    <nb-card-body>
      <form [formGroup]="codeProjectForm" (ngSubmit)="saveCodeProject(ref)" >
        <div class="row" *ngIf="showOS">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="codeProjectName" class="label">{{constants.PROJECT_CODE_PROJECT_DTRACK}}</label>
              <nb-select id="codeProjectName" fullWidth formControlName="dTrackUuid">
                <nb-option *ngIf="!codeHelperModel.dTrackProjects">{{constants.PROJECT_DTRAC_PROJECT_EMPTY}}</nb-option>
                <nb-option *ngFor="let dTrackProject of codeHelperModel.dTrackProjects" [value]="dTrackProject.uuid">{{ dTrackProject.name }}</nb-option>
              </nb-select>
            </div>
          </div>
          <div class="col-sm-6" *ngIf="!rowData.dTrackUuid">
            <div class="form-group">
              <label for="dTrackCreateBtn" class="label">OR Create it now</label><br/>
              <button id="dTrackCreateBtn"  type="button" nbButton status="primary" (click)="createDTrack(ref)">{{constants.CREATE_DTRACK_PROJECT}}</button>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="sastScanner">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="sastProject" class="label">{{constants.PROJECT_CODE_PROJECT_SAST}} ({{sastScanner}})</label>
              <nb-select id="sastProject" fullWidth formControlName="sastProject">
                <nb-option *ngIf="codeHelperModel.sastProjects?.length == 0">{{constants.PROJECT_SAST_PROJECT_EMPTY}}</nb-option>
                <nb-option *ngFor="let sastProject of codeHelperModel.sastProjects" [value]="sastProject.id">{{ sastProject.name }}</nb-option>
              </nb-select>
            </div>
          </div>
          <div class="col-sm-6" *ngIf="!rowData.dTrackUuid" >
            <div class="form-group">
              <label for="sastProjectCreate" class="label">OR Create it now</label><br/>
              <button id="sastProjectCreate"type="button" nbButton status="primary" (click)="createSast(ref)">{{constants.CREATE_SAST_PROJECT1}} {{sastScanner}} {{constants.CREATE_SAST_PROJECT2}}</button>
            </div>
          </div>
        </div>
        <nb-alert *ngIf="!showOS && !showSast" outline="warning">{{constants.MISSING_INTEGRATIONS}}</nb-alert>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="branch" class="label">{{constants.PROJECT_CODE_PROJECT_BRANCH}} </label>
              <input nbInput type="text" name="branch" id="branch" formControlName="branch" [value]="rowData.branch">
            </div>
          </div>
        </div>

        <button type="submit" nbButton status="danger">{{constants.TOOLTIP_EDIT}}</button>

      </form>
    </nb-card-body>
  </nb-card>
</ng-template>

