<button nbButton status="primary" size="large" (click)="playOnceScan()" [nbTooltip]="constants.TOOLTIP_RUNONCE" [disabled]="rowData.running"
          [nbSpinner]="rowData.running" nbSpinnerStatus="primary" nbSpinnerSize="medium" nbSpinnerMessage="">
  <nb-icon icon="play-circle-outline" pack="eva" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
</button>&nbsp;
<button nbButton status="info" size="medium" (click)="openDialog(editProject)" [nbTooltip]="constants.TOOLTIP_EDIT" >
  <nb-icon icon="edit-2-outline" pack="eva" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
</button>&nbsp;
<button nbButton status="danger" size="medium" (click)="deleteWebApp()" [nbTooltip]="constants.TOOLTIP_DELETE_PROJECT" >
  <nb-icon icon="trash" pack="eva" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
</button>
<ng-template #editProject let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>{{constants.CODE_PROJECT_EDIT}}</nb-card-header>
    <nb-card-body>
      <form [formGroup]="codeProjectForm" (ngSubmit)="saveCodeProject(codeProjectForm.value,ref)" >
        <div class="form-group">
          <label for="codeProjectName" class="label">{{constants.PROJECT_CODE_PROJECT_DTRACK}}</label>
          <nb-select id="codeProjectName" fullWidth formControlName="dTrackUuid">
            <nb-option *ngIf="!dTrackProjects">{{constants.PROJECT_DTRAC_PROJECT_EMPTY}}</nb-option>
            <nb-option *ngFor="let dTrackProject of value" [value]="dTrackProject.uuid">{{ dTrackProject.name }}</nb-option>
          </nb-select>
        </div>
        <button type="submit" nbButton status="danger">{{constants.TOOLTIP_EDIT}}</button>
        <button *ngIf="!rowData.dTrackUuid" type="button" nbButton status="primary" (click)="createDTrack(ref)">{{constants.CREATE_DTRACK_PROJECT}}</button>

      </form>
    </nb-card-body>
  </nb-card>
</ng-template>

