nb-card {
  padding: 0;
  margin: 0 auto;
}
nb-card-body {
  padding: 7px;
}
.status-container {
  display: table;
  width: 100%;
}
.status {
  position: relative;
  display: table-cell;
  width: 30%;
  margin-left: 25px;
  margin-right: 50px;
  vertical-align: middle !important;
  height: 100%;
}
.status-box {
  text-align: center;
}
.status-details {
  display: table-cell;
  width: 70%;
  margin: 20px;
  text-align: left;
}
.ci-table {
  width: 100% !important;
  display: table;
  margin: 20px auto;
}
.info {
  text-align: left;
}
td {
  padding-bottom: 3px;
  padding-top: 3px;
  text-align: center;
}


:host ::ng-deep .flip-button {
  top: 0 !important;
}
img {
  height: 30px;
}
