<nb-card size="medium">
  <nb-card-header>
    <h3>Number of vulnerabilities detected</h3>
    <div class="subtitle">Trend</div>
  </nb-card-header>
  <nb-card-body>
    <div class="chart-container">
      <div class="chart-header">
        <ngx-legend-chart [legendItems]="chartLegend"></ngx-legend-chart>
      </div>
      <ngx-vuln-trend-analytics-chart [chartData]="trendResponse" [type]="trendType"></ngx-vuln-trend-analytics-chart>
    </div>
  </nb-card-body>

  <ngx-slide-out [showVisitorsStatistics]="true" *ngIf="sourceData">
    <ngx-vuln-trend-statistics [chartData]="sourceData" [pieTitle]="pieTitle"></ngx-vuln-trend-statistics>
  </ngx-slide-out>
</nb-card>
