<nb-card size="tiny" class="solar-card">
  <nb-card-header>Deployment security policy compliance</nb-card-header>
  <nb-card-body>
    <div echarts [options]="option" class="echart">
    </div>
    <div class="info">
      <div class="h4 value">{{ successDeployment }} CICD secure</div>
      <div class="details subtitle-2"><span>out of</span> {{ allDeployments}}</div>
      <div class="details subtitle-2"><a role="button" (click)="showCIOperatonsDetails()" style="text-decoration: underline; text-decoration-color: #7ACAFF">View more info</a></div>
    </div>
  </nb-card-body>
</nb-card>

<ng-template #ciOperations let-data let-ref="dialogRef">
  <nb-card size="medium">
    <nb-card-header>CI Operations</nb-card-header>
    <nb-card-body>
      <nb-list nbInfiniteList listenWindowScroll [threshold]="25">
        <nb-list-item *ngFor="let operation of data" >
          <ngx-ci-operations-list-element [ciOperation]="operation"></ngx-ci-operations-list-element>
        </nb-list-item>
      </nb-list>
    </nb-card-body>
  </nb-card>
</ng-template>
