<br/>
<button [disabled]="codeScanRunSelectedButton" nbButton status="primary" (click)="startSelectedAssets()" hero >
  {{constants.PROJECT_CODE_BUTTON_RUN_SELECTED}}
</button>&nbsp;
<button *ngIf="!codeAutomaticScanButton" nbButton status="success" hero (click)="enableAutoScan()">
  {{constants.PROJECT_CODE_BUTTON_AUTO}}
</button>&nbsp;
<button *ngIf="codeAutomaticScanButton" nbButton status="danger" hero (click)="disableAutoScan()">
  {{constants.PROJECT_SCAN_DISABLE_AUTO_SCAN}}
</button>&nbsp;
<button [disabled]="!canEdit" nbButton status="success" hero (click)="openCreateApiDialog(addCodeProject)" [nbTooltip]="constants.PROJECT_WEBAPP_ADD">
  ADD NEW <nb-icon icon="plus" pack="eva" [options]="{ animation: { type: 'shake' } }"></nb-icon>
</button>
&nbsp;
<button nbButton status="warning" hero (click)="refresh()" [nbTooltip]="constants.PROJECT_CODE_TOOLTIP_REFRESH">
  <nb-icon icon="refresh" pack="eva" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
</button>
&nbsp;
<ngx-status-alert *ngIf="scannerTypes" [scannerTypes]="scannerTypes" [statusFor]="constants.SCANNER_CODE" class="statusAlert"></ngx-status-alert>

<br/>
<nb-alert status="info" *ngIf="numberOfRunningTest > 0" >
  {{constants.PROJECT_CODE_SCAN_STATUS_1}} <b><u>{{ numberOfRunningTest }} </u></b>{{constants.PROJECT_CODE_SCAN_STATUS_2}}
</nb-alert>
<div style="padding-top: 20px;padding-bottom: 20px;" *ngIf="loading" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="giant">Loading Please Wait..</div>
<ng2-smart-table *ngIf="!loading" [settings]="settings" (custom)="runTestSingle($event)" [source]="codes?.codeModels" (userRowSelect)="onAssetSelect($event)" >
</ng2-smart-table>

<ng-template #addCodeProject let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>{{constants.PROJECT_CODE_PROJECT_TITLE}}</nb-card-header>
    <nb-card-body>
      <form [formGroup]="codeProjectForm" (ngSubmit)="saveCodeProject(codeProjectForm.value,ref)" >

        <div class="form-group">
          <label for="codeProjectName" class="label">{{constants.PROJECT_CODE_PROJECT_NAME}}</label>
          <input type="text" nbInput fullWidth id="codeProjectName" [placeholder]="constants.PROJECT_CODE_PROJECT_NAME" formControlName="codeProjectName">
        </div>
        <div class="form-group">
          <label for="projectGiturl" class="label">{{constants.PROJECT_CODE_PROJECT_GITURL}}</label>
          <input type="text" nbInput fullWidth id="projectGiturl" [placeholder]="constants.PROJECT_CODE_PROJECT_GITURL" formControlName="projectGiturl">
        </div>
        <div class="form-group">
          <label for="projectBranch" class="label">{{constants.PROJECT_CODE_PROJECT_BRANCH}}</label>
          <input type="text" nbInput fullWidth id="projectBranch" placeholder="master" formControlName="projectBranch">
        </div>
        <div class="form-group">
          <label for="projectTech" class="label">{{constants.PROJECT_CODE_PROJECT_TECH}}</label>
          <input type="text" nbInput fullWidth id="projectTech" [placeholder]="constants.PROJECT_CODE_GROUP_TECH_1" formControlName="projectTech">
        </div>
        <button type="submit" nbButton status="danger">{{constants.PROJECT_SAVE}}</button>
      </form>
    </nb-card-body>
  </nb-card>
</ng-template>
