<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header >
        {{constants.PROJECT_DETAILS_DETAILS_TITLE}}
        <button status="primary" nbButton hero (click)="downloadCSV()" class="right">
          <nb-icon icon="cloud-download-outline" [nbTooltip]="constants.PROJECT_DETAILS_TOOLTIP_EXPORT" pack="eva" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
        </button>&nbsp;
      </nb-card-header>
      <nb-card-body>
        <ng2-smart-table [settings]="vulnerabilitiesSettings" [source]="source" ></ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
