<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        {{constants.ADMIN_SCAN_STRATEGY}}
      </nb-card-header>
      <nb-card-body>
        <div class="api-inline">
          <button status="danger" nbButton hero disabled>{{constants.ADMIN_STRATEGY_ONCE_PER_RD}}</button> &nbsp;
          <button status="danger" nbButton hero disabled>{{constants.ADMIN_STRATEGY_N_PER_RD}}</button> &nbsp;
          <button status="danger" nbButton hero disabled>{{constants.ADMIN_STRATEGY_ALL_RD_SCAN}}</button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
