<div class="row">
  <div class="col-md-12">
    <nb-card class="list-card" size="small">
      <nb-card-header>
        {{constants.ADMIN_GITCREDS}} &nbsp;
        <button status="success" nbButton hero (click)="openCreateApiDialog(addGitCreds,null)">
          <i class="ion-plus"></i>&nbsp; {{constants.ADMIN_ADD_GITCREDENTIALS}}
        </button>
      </nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item *ngFor="let creds of credentials">
            <button status="danger" nbButton hero (click)="null" size="small">
              <nb-icon icon="trash" [nbTooltip]="constants.ADMIN_DELETE_PROXY" pack="eva" [options]="{ animation: { type: 'pulse' } }" (click)="deleteCredentials(creds.id)"></nb-icon>
            </button>&nbsp;<div style="display:inline-block">{{creds.username }} @ {{creds.url}}</div>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<ng-template #addGitCreds let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>{{constants.ADMIN_FORM_PROXY_TITLE}}</nb-card-header>
    <nb-card-body>
      <form [formGroup]="credsForm" (ngSubmit)="addCreds(credsForm.value,ref)" >
        <div class="form-group">
          <label for="url" class="label">{{constants.ADMIN_URL}}</label>
          <input type="text" nbInput fullWidth id="url" [placeholder]="constants.ADMIN_URL" formControlName="url">
        </div>
        <div class="form-group">
          <label for="username" class="label">{{constants.ADMIN_USERNAME}}</label>
          <input type="text" nbInput fullWidth id="username" [placeholder]="constants.ADMIN_USERNAME" formControlName="username">
        </div>
        <div class="form-group">
          <label for="password" class="label">{{constants.ADMIN_PASSWORD}}</label>
          <input type="password" nbInput fullWidth id="password" [placeholder]="constants.ADMIN_PASSWORD" formControlName="password">
        </div>
        <button type="submit" nbButton status="danger">{{constants.ADMIN_FORM_SAVE}}</button>
      </form>
    </nb-card-body>
  </nb-card>
</ng-template>
