<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        Mixeway Vuln Auditor Integration
      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="vulnAuditorForm" (ngSubmit)="save(vulnAuditorForm.value)" >
          <div class="form-group">
            <nb-radio-group name="enabled" formControlName="enabled" [value]="settings.vulnAuditorEnable">
              <nb-radio *ngFor="let option of options"
                        [checked]="option.checked"
                        [disabled]="option.disabled"
                        [value]="option.value">
                {{ option.label }}
              </nb-radio>
            </nb-radio-group>
          </div>
          <div class="form-group" *ngIf="vulnAuditorForm.value.enabled">
            <label for="url" class="label">{{constants.ADMIN_SMTP_USERNAME}}</label>
            <input type="text" nbInput fullWidth id="url" [value]="settings.vulnAuditorUrl" formControlName="url">
          </div>
          <button type="submit" nbButton status="danger">{{constants.ADMIN_FORM_SAVE}}</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
