<nb-alert status="danger" *ngIf="!isAdmin" xmlns="http://www.w3.org/1999/html">Brak uprawnień!</nb-alert>
<div class="row" *ngIf="isAdmin && settings">
  <div class="col-12">
    <nb-card>
      <nb-card-header>
        {{ constants.ADMIN_PAGE_TITLE}}
      </nb-card-header>
      <nb-card-body>
        <nb-tabset fullWidth (changeTab)="test($event)">
          <nb-tab [tabTitle]="constants.ADMIN_TAB_USERS">
            <ngx-user></ngx-user>
          </nb-tab>
          <nb-tab [tabTitle]="constants.ADMIN_TAB_SCANNERS">
            <ngx-scanner [proxies]="proxies" [routingDomains]="routingDomains" [scannerTypes]="scannerTypes"></ngx-scanner>
          </nb-tab>
          <nb-tab [tabTitle]="constants.ADMIN_TAB_SETTINGS">
            <ngx-security-gateway></ngx-security-gateway>
            <ngx-auth [settings]="settings"></ngx-auth>
            <ngx-smtp [settings]="settings"></ngx-smtp>
            <ngx-apikey [settings]="settings"></ngx-apikey>
            <ngx-scan-strategy></ngx-scan-strategy>
            <ngx-routing-domain [routingDomains]="routingDomains"></ngx-routing-domain>
            <ngx-proxy [proxies]="proxies"></ngx-proxy>
            <ngx-vuln-auditor [settings]="settings"></ngx-vuln-auditor>
            <ngx-scheduler></ngx-scheduler>
            <ngx-web-app-strategy [scannerType]="scannerTypes"></ngx-web-app-strategy>
          </nb-tab>
        </nb-tabset>
      </nb-card-body>
    </nb-card>
  </div>
</div>
