<nb-alert status="danger" *ngIf="!isAdmin" xmlns="http://www.w3.org/1999/html">Brak uprawnień!</nb-alert>
<div class="row" *ngIf="isAdmin">
  <div class="col-12">
    <nb-card>
      <nb-card-header>
        {{ constants.ADMIN_PAGE_TITLE}}
      </nb-card-header>
      <nb-card-body>
        <nb-tabset fullWidth>
          <nb-tab [tabTitle]="constants.ADMIN_TAB_USERS">
            <button status="primary" nbButton hero (click)="openCreateApiDialog(addUser,null)">
              <i class="ion-plus"></i>&nbsp; {{constants.ADMIN_ADD_USER}}
            </button>
            <table class="table">
              <thead>
                <th>{{constants.ADMIN_USERTABLE_COMMONNAME}}</th>
                <th>{{constants.ADMIN_USERTABLE_USERNAME}}</th>
                <th>{{constants.ADMIN_USERTABLE_LASTIP}}</th>
                <th>{{constants.ADMIN_USERTABLE_ACTIVE}}</th>
                <th>{{constants.ADMIN_USERTABLE_ACTION}}</th>
              </thead>
              <tbody>
                <tr *ngFor="let user of users">
                  <td>{{user.commonName}}</td>
                  <td>{{user.lastLoggedIp}}</td>
                  <td>{{user.lastLoggedDate}}</td>
                  <td *ngIf="user.enabled">
                    <span class="badge badge-success">{{constants.YES}}</span>
                  </td>
                  <td *ngIf="!user.enabled">
                    <span class="badge badge-danger">{{constants.NO}}</span>
                  </td>
                  <td>
                    <button status="info"  nbButton hero *ngIf="user.enabled" (click)="openCreateApiDialog(changePassoword, user.id)">
                      <nb-icon icon="eye-off-outline" [nbTooltip]="constants.ADMIN_TOOLTIP_CHANGEPASSWORD" pack="eva" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
                    </button>
                    <button status="success" [nbTooltip]="constants.ADMIN_TOOLTIP_ACTIVATE_USER" nbButton hero *ngIf="!user.enabled" (click)="enableUser(user.id)">
                      <nb-icon icon="plus" pack="eva" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
                    </button>
                    <button status="danger"  nbButton hero *ngIf="user.enabled" (click)="disableUser(user.id)">
                      <nb-icon icon="minus" [nbTooltip]="constants.ADMIN_TOOLTIP_BLOCK_USER" pack="eva" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
                    </button>

                  </td>
                </tr>
              </tbody>
            </table>
          </nb-tab>
          <nb-tab [tabTitle]="constants.ADMIN_TAB_SCANNERS">
            <button status="primary" nbButton hero (click)="openCreateApiDialog(addScanner,null)">
              <i class="ion-plus"></i>&nbsp; {{constants.ADMIN_ADD_SCANNER}}
            </button>
            <table class="table">
              <thead>
                <th>{{constants.ADMIN_SCANNERTABLE_TYPE}}</th>
                <th>{{constants.ADMIN_SCANNERTABLE_API_URL}}</th>
                <th>{{constants.ADMIN_SCANNERTABLE_ROUTINGDOMAIN}}</th>
                <th>{{constants.ADMIN_SCANNERTABLE_ACTIVE}}</th>
                <th>{{constants.ADMIN_SCANNERTABLE_ACTION}}</th>
              </thead>
              <tbody>
              <tr *ngFor="let scanner of scanners">
                <td>{{ scanner.scannerType.name}}</td>
                <td>{{scanner.apiUrl}}</td>
                <td>{{scanner.routingDomain?.name}}</td>
                <td *ngIf="scanner.status"><span class="badge badge-success">{{constants.YES}}</span></td>
                <td *ngIf="!scanner.status"><span class="badge badge-danger">{{constants.NO}}</span></td>
                <td>
                  <button status="danger" nbButton hero (click)="deleteScanner(scanner.id)">
                    <nb-icon icon="trash" [nbTooltip]="constants.ADMIN_TOOLTIP_SCANNER_DELETE" pack="eva" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
                  </button>&nbsp;
                  <button status="primary" nbButton hero *ngIf="!scanner.status"  (click)="testScanner(scanner.id)">
                    <nb-icon icon="refresh-outline" [nbTooltip]="constants.ADMIN_TOOLTIP_SCANNER_TEST" pack="eva" [options]="{ animation: { type: 'pulse' } }"></nb-icon>

                  </button>&nbsp;
                  <button status="warning" nbButton hero (click)="openCreateApiDialog(addRfw, scanner.id)" *ngIf="scanner.rfwUrl == null">
                    <nb-icon icon="plus" [nbTooltip]="constants.ADMIN_TOOLTIP_SCANNER_RFW" pack="eva" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </nb-tab>
          <nb-tab [tabTitle]="constants.ADMIN_TAB_SETTINGS">
            <div class="row">
              <div class="col-md-6">
                <nb-card>
                  <nb-card-header>
                    {{constants.ADMIN_AUTHENTICATION}}
                  </nb-card-header>
                  <nb-card-body>
                    <form [formGroup]="authForm" (ngSubmit)="saveAuth(authForm.value)" >
                      <div class="form-group">
                        <nb-checkbox [checked]="settings.passwordAuth" status="basic" nbInput id="passwordAuthentication" formControlName="passwordAuth" >{{constants.ADMIN_AUTHENTICATION_PASSWORD}}</nb-checkbox>
                        <nb-checkbox [checked]="settings.certificateAuth" status="basic" nbInput id="certificateAuthentication" formControlName="certificateAuth" >{{constants.ADMIN_AUTHENTICATION_CERTIFICATE}}</nb-checkbox>
                      </div>
                      <button type="submit" nbButton status="success">{{constants.ADMIN_FORM_SAVE}}</button>
                    </form>
                  </nb-card-body>
                </nb-card>
              </div>
              <div class="col-md-6">
                <nb-card>
                  <nb-card-header>
                    {{constants.ADMIN_SMTP_CONFIG}}
                  </nb-card-header>
                  <nb-card-body>
                    <form [formGroup]="smtpForm" (ngSubmit)="saveSmtp(smtpForm.value)" >
                      <div class="form-group">
                        <label for="smtpHost" class="label">{{constants.ADMIN_SMTP_HOSTNAME}}</label>
                        <input type="text" nbInput fullWidth id="smtpHost" [placeholder]="constants.ADMIN_SMTP_HOSTNAME" formControlName="smtpHost" [value]="settings.smtpHost">
                      </div>
                      <div class="form-group">
                        <label for="smtpPort" class="label">{{constants.ADMIN_SMTP_PORT}}</label>
                        <input type="text" nbInput fullWidth id="smtpPort" [placeholder]="constants.ADMIN_SMTP_PORT" formControlName="smtpPort" [value]="settings.smtpPort">
                      </div>
                      <div class="form-group" *ngIf="auth">
                        <label for="smtpUsername" class="label">{{constants.ADMIN_SMTP_USERNAME}}</label>
                        <input type="text" nbInput fullWidth id="smtpUsername" [placeholder]="constants.ADMIN_SMTP_USERNAME" formControlName="smtpUsername" [value]="settings.smtpUsername">
                      </div>
                      <div class="form-group" *ngIf="auth">
                        <label for="smtpPassword" class="label">{{constants.ADMIN_SMTP_PASSWORD}}</label>
                        <input type="password" nbInput fullWidth id="smtpPassword" [placeholder]="constants.ADMIN_SMTP_PASSWORD" formControlName="smtpPassword">
                      </div>
                      <div class="form-group">
                        <nb-checkbox [checked]="settings.smtlTls" status="basic" nbInput id="smtpTls" formControlName="smtpTls" >{{constants.ADMIN_SMTP_TLS}}</nb-checkbox>
                        <nb-checkbox [checked]="settings.smtpAuth" status="basic" nbInput id="smtpAuth" formControlName="smtpAuth" [(ngModel)]="auth" >{{constants.ADMIN_SMTP_AUTH}}</nb-checkbox>
                      </div>
                      <button type="submit" nbButton status="danger">{{constants.ADMIN_FORM_SAVE}}</button>
                    </form>
                  </nb-card-body>
                </nb-card>
              </div>
              <div class="col-md-12">
                <nb-card>
                  <nb-card-header>
                    {{constants.ADMIN_MASTER_APIKEY}}
                  </nb-card-header>
                  <nb-card-body>
                    <div class="api-inline">
                      <input type="text" nbInput id="masterApiKey" placeholder="apiKey" [value]='settings.masterApiKey? settings.masterApiKey : null' [disabled]="true" class="apiKey"> &nbsp;
                      <button status="primary" nbButton hero (click)="copyApiKey()">
                        <nb-icon icon="clipboard-outline" [nbTooltip]="constants.ADMIN_TOOLTIP_COPY_APIKEY" pack="eva" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
                      </button>&nbsp;&nbsp;
                      <button status="warning" nbButton hero (click)="null">
                        <nb-icon icon="refresh" [nbTooltip]="constants.ADMIN_TOOLTIP_GENERATE_APIKEY" pack="eva" [options]="{ animation: { type: 'pulse' } }" (click)="generateApiKey()"></nb-icon>
                      </button>&nbsp;&nbsp;
                      <button status="danger" nbButton hero (click)="null">
                        <nb-icon icon="trash" [nbTooltip]="constants.ADMIN_TOOLTIP_DELETE_APIKEY" pack="eva" [options]="{ animation: { type: 'pulse' } }" (click)="deleteApiKey()"></nb-icon>
                      </button>&nbsp;
                    </div>
                  </nb-card-body>
                </nb-card>
                <nb-card>
                  <nb-card-header>
                    {{constants.ADMIN_SCAN_STRATEGY}}
                  </nb-card-header>
                  <nb-card-body>
                    <div class="api-inline">
                      <button status="danger" nbButton hero disabled>{{constants.ADMIN_STRATEGY_ONCE_PER_RD}}</button> &nbsp;
                      <button status="danger" nbButton hero disabled>{{constants.ADMIN_STRATEGY_N_PER_RD}}</button> &nbsp;
                      <button status="danger" nbButton hero disabled>{{constants.ADMIN_STRATEGY_ALL_RD_SCAN}}</button>
                    </div>
                  </nb-card-body>
                </nb-card>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
               <nb-card>
                 <nb-card-header>
                   {{constants.ADMIN_ROUTINGDOMAINS}} &nbsp;
                   <button status="success" nbButton hero (click)="openCreateApiDialog(addRoutingDomain,null)">
                     <i class="ion-plus"></i>&nbsp; {{constants.ADMIN_ADD_ROUTINGDOMAIN}}
                   </button>
                 </nb-card-header>
                 <nb-card-body>
                   <nb-list>
                     <nb-list-item *ngFor="let routingDomain of routingDomains">
                       <button status="danger" nbButton hero (click)="null" size="tiny">
                         <nb-icon icon="trash" [nbTooltip]="constants.ADMIN_DELETE_ROUTINGDOMAIN" pack="eva" [options]="{ animation: { type: 'pulse' } }" (click)="deleteRoutingDomain(routingDomain.id)"></nb-icon>
                       </button>&nbsp; {{ routingDomain.name }}
                     </nb-list-item>
                   </nb-list>
                 </nb-card-body>
               </nb-card>
              </div>
              <div class="col-md-6">
                <nb-card>
                  <nb-card-header>
                    {{constants.ADMIN_PROXXIES}} &nbsp;
                    <button status="success" nbButton hero (click)="openCreateApiDialog(addProxy,null)">
                      <i class="ion-plus"></i>&nbsp; {{constants.ADMIN_ADD_PROXY}}
                    </button>
                  </nb-card-header>
                  <nb-card-body>
                    <nb-list>
                      <nb-list-item *ngFor="let proxy of proxies">
                        <button status="danger" nbButton hero (click)="null" size="small">
                          <nb-icon icon="trash" [nbTooltip]="constants.ADMIN_DELETE_PROXY" pack="eva" [options]="{ animation: { type: 'pulse' } }" (click)="deleteProxy(proxy.id)"></nb-icon>
                        </button>&nbsp;<div style="display:inline-block"><small>{{ proxy.description}}</small><br/>{{proxy.ip}}:{{proxy.port  }}</div>
                      </nb-list-item>
                    </nb-list>
                  </nb-card-body>
                </nb-card>
              </div>
            </div>
          </nb-tab>
        </nb-tabset>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<ng-template #addUser let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>{{constants.ADMIN_FORM_USER_TITLE}}</nb-card-header>
    <nb-card-body>
      <form [formGroup]="userForm" (ngSubmit)="saveUser(userForm.value, ref)" >
        <div class="form-group">
          <label for="username" class="label">{{constants.ADMIN_FORM_USER_NAME}}</label>
          <input type="text" nbInput fullWidth id="userUsername" [placeholder]="constants.ADMIN_FORM_USER_NAME" formControlName="userUsername">
        </div>
        <div class="form-group">
          <label for="passwordAuth" class="label">{{constants.ADMIN_FORM_USER_PASSWORD_AUTH}}</label>
          <nb-checkbox fullWidth id="passwordAuth" formControlName="passwordAuth" ng-model="passwordAuth"></nb-checkbox>
        </div>
        <div class="form-group" *ngIf="userForm.get('passwordAuth').value">
          <label for="password" class="label">{{constants.ADMIN_FORM_USER_PASSWORD}} </label>
          <input type="password" nbInput fullWidth id="userPassword" [placeholder]="constants.ADMIN_FORM_USER_PASSWORD" formControlName="userPassword">
        </div>
        <div class="form-group">
          <label for="codeGroupForProject" class="label">{{constants.ADMIN_FORM_ROLE}}</label>
          <nb-select id="codeGroupForProject" fullWidth formControlName="userRole">
            <nb-option *ngFor="let cg of constants.USER_GROUPS" [value]="cg.id">{{ cg.name }}</nb-option>
          </nb-select>
        </div>

        <div class="form-group">
          <label for="cn" class="label">{{constants.ADMIN_FORM_COMMONNAME}}</label>
          <input type="text" nbInput fullWidth id="cn" [placeholder]="constants.ADMIN_FORM_COMMONNAME_PLACEHOLDER" formControlName="userCN">
        </div>
        <button type="submit" nbButton status="danger">{{constants.ADMIN_FORM_SAVE}}</button>
      </form>
    </nb-card-body>
  </nb-card>
</ng-template>
<ng-template #addScanner let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>{{constants.ADMIN_FORM_SCANNER_TITLE}}</nb-card-header>
    <nb-card-body>
      <form [formGroup]="scannerForm" (ngSubmit)="saveScanner(scannerForm.value, ref)" >
        <div class="form-group">
          <label for="scannerType" class="label">{{constants.ADMIN_FORM_SCANNER_TYPE}}</label>
          <nb-select id="scannerType" fullWidth (selectedChange)="onChange($event)" formControlName="scannerType">
            <nb-option *ngFor="let st of scannerTypes" [value]="st.name">{{ st.name }}</nb-option>
          </nb-select>
        </div>
        <div class="form-group">
          <label for="routingDomain" class="label">{{constants.ADMIN_FORM_SCANNER_ROUTINGDOMAIN}}</label>
          <nb-select id="routingDomain" fullWidth formControlName="routingDomain">
            <nb-option *ngFor="let rd of routingDomains" [value]="rd.id">{{ rd.name }}</nb-option>
          </nb-select>
        </div>
        <div class="form-group">
          <label for="proxy" class="label">{{constants.ADMIN_FORM_PROXY}}</label>
          <nb-select id="proxy" fullWidth formControlName="proxy">
            <nb-option value="0">{{constants.ADMIN_FORM_PROXY_NONE}}</nb-option>
            <nb-option *ngFor="let prox of proxies" [value]="prox.id">{{ prox.description }}</nb-option>
          </nb-select>
        </div>
        <div class="form-group">
          <label for="apiUrl" class="label">{{constants.ADMIN_FORM_SCANNER_APIURL}}</label>
          <input type="text" nbInput fullWidth id="apiUrl" [placeholder]="constants.ADMIN_FORM_SCANNER_APIURL" formControlName="apiUrl">
        </div>
        <div class="form-group" *ngIf="basicAuth">
          <label for="username" class="label">{{constants.ADMIN_FORM_SCANNER_USERNAME}}</label>
          <input type="text" nbInput fullWidth id="username" [placeholder]="constants.ADMIN_FORM_SCANNER_USERNAME" formControlName="username">
        </div>
        <div class="form-group" *ngIf="basicAuth">
          <label for="password" class="label">{{constants.ADMIN_FORM_SCANNER_PASSWORD}} </label>
          <input type="password" nbInput fullWidth id="password" [placeholder]="constants.ADMIN_FORM_SCANNER_PASSWORD" formControlName="password">
        </div>
        <div class="form-group" *ngIf="showNessus">
          <label for="accessKey" class="label">{{constants.ADMIN_FORM_SCANNER_ACCESSKEY}}</label>
          <input type="text" nbInput fullWidth id="accessKey" [placeholder]="constants.ADMIN_FORM_SCANNER_ACCESSKEY" formControlName="accesskey">
        </div>
        <div class="form-group" *ngIf="showNessus">
          <label for="secretKey" class="label">{{constants.ADMIN_FORM_SCANNER_SECRETKEY}}</label>
          <input type="text" nbInput fullWidth id="secretKey" [placeholder]="constants.ADMIN_FORM_SCANNER_SECRETKEY" formControlName="secretkey">
        </div>
        <div class="form-group" *ngIf="showAcunetix">
          <label for="apiKey" class="label">{{constants.ADMIN_FORM_SCANNER_APIKEY}}</label>
          <input type="text" nbInput fullWidth id="apiKey" [placeholder]="constants.ADMIN_FORM_SCANNER_APIKEY" formControlName="apiKey">
        </div>
        <div class="form-group" *ngIf="showFortifySCA">
          <label for="cloudCtrlToken" class="label">{{constants.ADMIN_FORM_SCANNER_CLOUDCTRL}}</label>
          <input type="text" nbInput fullWidth id="cloudCtrlToken" [placeholder]="constants.ADMIN_FORM_SCANNER_CLOUDCTRL" formControlName="cloudCtrlToken">
        </div>
        <button type="submit" nbButton status="danger">{{constants.ADMIN_FORM_SAVE}}</button>
      </form>
    </nb-card-body>
  </nb-card>
</ng-template>
<ng-template #addRfw let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>{{constants.ADMIN_FORM_RFW_TITLE}}</nb-card-header>
    <nb-card-body>
      <form [formGroup]="rfwForm" (ngSubmit)="saveRfw(rfwForm.value, ref,data)" >
        <div class="form-group">
          <label for="rfwUrl" class="label">{{constants.ADMIN_FORM_RFW_URL}}</label>
          <input type="text" nbInput fullWidth id="rfwUrl" [placeholder]="constants.ADMIN_FORM_RFW_URL" formControlName="rfwUrl">
        </div>
        <div class="form-group">
          <label for="rfwScannerIp" class="label">{{constants.ADMIN_FORM_RFW_SCANNER_URL}}</label>
          <input type="text" nbInput fullWidth id="rfwScannerIp" [placeholder]="constants.ADMIN_FORM_RFW_SCANNER_URL" formControlName="rfwScannerIp">
        </div>
        <div class="form-group">
          <label for="rfwUsername" class="label">{{constants.ADMIN_FORM_RFW_USERNAME}}</label>
          <input type="text" nbInput fullWidth id="rfwUsername" [placeholder]="constants.ADMIN_FORM_RFW_USERNAME" formControlName="rfwUsername">
        </div>
        <div class="form-group" >
          <label for="rfwPassword" class="label">{{constants.ADMIN_FORM_RFW_PASSWORD}}</label>
          <input type="password" nbInput fullWidth id="rfwPassword" [placeholder]="constants.ADMIN_FORM_RFW_PASSWORD" formControlName="rfwPassword">
        </div>
        <button type="submit" nbButton status="danger">{{constants.ADMIN_FORM_SAVE}}</button>
      </form>
    </nb-card-body>
  </nb-card>
</ng-template>
<ng-template #changePassoword let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>{{constants.ADMIN_FORM_CHANGEPASSWORD_TITTLE}}</nb-card-header>
    <nb-card-body>
      <form [formGroup]="changePasswordForm" (ngSubmit)="changePassowordSubmit(changePasswordForm.value, ref,data)" >
        <div class="form-group">
          <label for="newPassword" class="label">{{constants.ADMIN_FORM_CHANGEPASSWORD_NEWPASS}}</label>
          <input type="password" nbInput fullWidth id="newPassword" [placeholder]="constants.ADMIN_FORM_CHANGEPASSWORD_NEWPASS" formControlName="newPassword">
        </div>
        <button type="submit" nbButton status="danger">{{constants.ADMIN_FORM_SAVE}}</button>
      </form>
    </nb-card-body>
  </nb-card>
</ng-template>
<ng-template #addRoutingDomain let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>{{constants.ADMIN_FORM_ROUTINGDOMAIN_TITLE}}</nb-card-header>
    <nb-card-body>
      <form [formGroup]="routingDomainForm" (ngSubmit)="addNewRoutingDomain(routingDomainForm.value,ref)" >
        <div class="form-group">
          <label for="routingDomainName" class="label">{{constants.ADMIN_FORM_ROUTINGDOMAIN_NAME}}</label>
          <input type="text" nbInput fullWidth id="routingDomainName" [placeholder]="constants.ADMIN_FORM_ROUTINGDOMAIN_NAME" formControlName="name">
        </div>
        <button type="submit" nbButton status="danger">{{constants.ADMIN_FORM_SAVE}}</button>
      </form>
    </nb-card-body>
  </nb-card>
</ng-template>
<ng-template #addProxy let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>{{constants.ADMIN_FORM_PROXY_TITLE}}</nb-card-header>
    <nb-card-body>
      <form [formGroup]="proxyForm" (ngSubmit)="addProxies(proxyForm.value,ref)" >
        <div class="form-group">
          <label for="proxyIp" class="label">{{constants.ADMIN_FORM_PROXY_IP}}</label>
          <input type="text" nbInput fullWidth id="proxyIp" [placeholder]="constants.ADMIN_FORM_PROXY_IP" formControlName="ip">
        </div>
        <div class="form-group">
          <label for="proxyPort" class="label">{{constants.ADMIN_FORM_PROXY_PORT}}</label>
          <input type="text" nbInput fullWidth id="proxyPort" [placeholder]="constants.ADMIN_FORM_PROXY_PORT" formControlName="port">
        </div>
        <div class="form-group">
          <label for="proxyDescription" class="label">{{constants.ADMIN_FORM_PROXY_DESC}}</label>
          <input type="text" nbInput fullWidth id="proxyDescription" [placeholder]="constants.ADMIN_FORM_PROXY_DESC" formControlName="description">
        </div>
        <div class="form-group">
          <label for="proxyUsername" class="label">{{constants.ADMIN_FORM_PROXY_USERNAME}}</label>
          <input type="text" nbInput fullWidth id="proxyUsername" [placeholder]="constants.ADMIN_FORM_PROXY_USERNAME" formControlName="username">
        </div>
        <div class="form-group">
          <label for="proxyPassword" class="label">{{constants.ADMIN_FORM_PROXY_PASSWORD}}</label>
          <input type="password" nbInput fullWidth id="proxyPassword" [placeholder]="constants.ADMIN_FORM_PROXY_PASSWORD" formControlName="password">
        </div>
        <button type="submit" nbButton status="danger">{{constants.ADMIN_FORM_SAVE}}</button>
      </form>
    </nb-card-body>
  </nb-card>
</ng-template>
