<div class="col-12">
  <nb-card>
    <nb-tabset fullWidth>
      <nb-tab [tabTitle]="constants.PROJECT_CARD_INFRAP_TITLE">
        <ngx-infra-configure-tab *ngIf="scannerTypes" [scannerTypes]="scannerTypes" [routingDomains]="routingDomains"></ngx-infra-configure-tab>
      </nb-tab>
      <nb-tab [tabTitle]="constants.PROJECT_CARD_WEBAPP_TITLE">
        <ngx-web-configure-tab [scannerTypes]="scannerTypes" [routingDomains]="routingDomains"></ngx-web-configure-tab>
      </nb-tab>
      <nb-tab [tabTitle]="constants.PROJECT_CARD_CODE_TEXT">
        <ngx-code-configure-tab [scannerTypes]="scannerTypes"></ngx-code-configure-tab>
      </nb-tab>
      <nb-tab [tabTitle]="constants.PROJECT_CARD_CONFIG_TITLE">
        <ngx-api-configure-tab ></ngx-api-configure-tab>
      </nb-tab>
    </nb-tabset>
  </nb-card>
</div>


