<div class="row">
  <div class="col-12 col-sm-6 col-md-8">
    <nb-card>
      <h3> {{ risk?.projectName }}</h3>
    </nb-card>
  </div>
  <div class="col-md-2">
    <nb-card>
      <button [disabled]="showConfigTemplate" nbButton status="primary" hero (click)="showConfig()">
        {{constants.PROJECT_BUTTON_CONFIG}}
      </button>
    </nb-card>
  </div>
  <div class="col-md-2">
    <nb-card>
      <button [disabled]="showDetailsTemplate" nbButton status="primary" hero (click)="showDetails()">
        {{constants.PROJECT_BUTTON_DETAILS}}
      </button>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-6 col-sm-3">
    <ngx-summary-card [cardDetails]="infraRiskCard"></ngx-summary-card>
  </div>
  <div class="col-6 col-sm-3">
    <ngx-summary-card [cardDetails]="webAppRiskCard"></ngx-summary-card>
  </div>
  <div class="col-6 col-sm-3">
    <ngx-summary-card [cardDetails]="codeRiskCard"></ngx-summary-card>
  </div>
  <div class="col-6 col-sm-3">
    <ngx-summary-card [cardDetails]="auditRiskCard"></ngx-summary-card>
  </div>
</div>
<ngx-configure-tables *ngIf="showConfigTemplate"></ngx-configure-tables>
<ngx-show-project-details-chart *ngIf="showDetailsTemplate"></ngx-show-project-details-chart>
<ngx-details-tables *ngIf="showDetailsTemplate"></ngx-details-tables>
