<div class="row">
  <div class="col-12 col-sm-6 col-md-8">
    <nb-card>
      <h3> {{ risk?.projectName }} <button *ngIf="showVulnAuditor" (click)="displayProjectGlobalSettings()" nbButton status="primary" nbTooltip="Vuln Auditor Settings" style="float:right; margin-top:5px; margin-left:5px;"><nb-icon icon="briefcase-outline"></nb-icon></button></h3>
    </nb-card>
  </div>
  <div class="col-md-2">
    <nb-card>
      <button [disabled]="showConfigTemplate" nbButton status="primary" hero (click)="showConfig()">
        {{constants.PROJECT_BUTTON_CONFIG}}
      </button>
    </nb-card>
  </div>
  <div class="col-md-2">
    <nb-card>
      <button [disabled]="showDetailsTemplate" nbButton status="primary" hero (click)="showDetails()">
        {{constants.PROJECT_BUTTON_DETAILS}}
      </button>
    </nb-card>
  </div>
</div>
<div class="row">
  <div [ngClass]="ciOperations?.length > 0 ? 'col-8':'col-12'">
    <div class="row">
      <div class="col-6" [ngClass]="ciOperations?.length > 0 ? 'col-sm-6':'col-sm-3'">
        <ngx-summary-card [cardDetails]="infraRiskCard"></ngx-summary-card>
      </div>
      <div class="col-6" [ngClass]="ciOperations?.length > 0 ? 'col-sm-6':'col-sm-3'">
        <ngx-summary-card [cardDetails]="webAppRiskCard"></ngx-summary-card>
      </div><br/>
      <div class="col-6" [ngClass]="ciOperations?.length > 0 ? 'col-sm-6':'col-sm-3'">
        <ngx-summary-card [cardDetails]="codeRiskCard"></ngx-summary-card>
      </div>
      <div class="col-6" [ngClass]="ciOperations?.length > 0 ? 'col-sm-6':'col-sm-3'">
        <ngx-summary-card [cardDetails]="openSourceCard"></ngx-summary-card>
      </div>
    </div>
  </div>
  <div *ngIf="ciOperations?.length > 0" class="col-md-4">
    <ngx-ci-operations [ciOperations]="ciOperations"></ngx-ci-operations>
  </div>

  <!--<div class="col-6 col-sm-3">
    <ngx-summary-card [cardDetails]="auditRiskCard"></ngx-summary-card>
  </div> -->
</div>
<ngx-configure-tables *ngIf="showConfigTableTemplate" [scannerTypes]="scannerTypes"></ngx-configure-tables>
<ngx-show-project-details-chart *ngIf="showDetailsTemplate"></ngx-show-project-details-chart>

<ngx-details-tables *ngIf="showDetailsTemplate"></ngx-details-tables>
<ng-template #vulnAuditorSettings let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Global settings, would be applied if object doesn't have setting specified</nb-card-header>
    <nb-card-body>
      <form [formGroup]="vulnAuditorForm" (ngSubmit)="saveVulnAuditorSettings(ref)">
        <div class="form-group">
          <nb-checkbox id="enableAuditor" name="enableVulnAuditor" formControlName="enableVulnAuditor" [checked]="vulnAuditorForm.value.enableVulnAuditor">Enable Vulnerability Auditor? (read more in Mixeway docs)</nb-checkbox>
        </div>
        <div class="form-group">
          <label for="datacenter" class="label">Location of assets</label>
          <nb-select id="datacenter" fullWidth formControlName="dclocation" [(selected)]="vulnAuditorForm.value.dclocation">
            <nb-option value="">Select...</nb-option>
            <nb-option value="localdc">Internal Data Center</nb-option>
            <nb-option value="remotedc">Remote Data Center (3rd party)</nb-option>
          </nb-select>        </div>
        <div class="form-group">
          <label for="codeGroupAppClient" class="label">Who is going to use the app?</label>
          <nb-select id="codeGroupAppClient" fullWidth formControlName="appClient" [(selected)]="vulnAuditorForm.value.appClient">
            <nb-option value="">Select...</nb-option>
            <nb-option value="customer">Customer</nb-option>
            <nb-option value="employe">Emoloyee</nb-option>
          </nb-select>
        </div>
        <button type="submit" nbButton status="danger">{{constants.PROJECT_SAVE}}</button>
      </form>
    </nb-card-body>
  </nb-card>
</ng-template>
<ng-template #showInstructions let-data let-ref="showInstructions">
  <nb-card>
    <nb-card-header>Starting point</nb-card-header>
    <nb-card-body>It looks like its starting point for this project. It is all set up. All You need to do is perform some scans.
    Using Mixeway Scanner is pretty easy:
      <br/><br/>
      <code>
        > docker pull mixeway/scanner:latest<br/>
        > docker run -e OSS_USERNAME=_username_ -e OSS_KEY=_KEY_ -e MIXEWAY_URL={{hostname}} -e MIXEWAY_KEY=_key_ -e MIXEWAY_PROJECT_ID={{_entityId}} -e MODE=STANDALONE -v ${{ "{" }}PWD{{ "}" }}:/opt/sources mixeway/scanner:latest
      </code>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close()">Close</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
