<div class="row">
  <div class="row col-md-4">
    <nb-card size="large">
      <div class="picture" style="background-image:url('/assets/images/Logo1.png')"></div>
      <div class="details">
        <div class="h4">UI Kitten</div>
      </div>
      <nb-card-footer>
        <div class="col-md-4">
          <nb-card>
            <nb-card-body>
              <small>Projects</small>
            </nb-card-body>
            <nb-card-footer>
              <small>2</small>
            </nb-card-footer>
          </nb-card>
        </div>
        <div class="col-md-4">
          <nb-card>
            <nb-card-body>
              <small>Assets</small>
            </nb-card-body>
            <nb-card-footer>
              <small>2</small>
            </nb-card-footer>
          </nb-card>
        </div><div class="col-md-4">
        <nb-card>
          <nb-card-body>
            <small>Vulns</small>
          </nb-card-body>
          <nb-card-footer>
            <small>2</small>
          </nb-card-footer>
        </nb-card>
      </div>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="row col-md-8">
    <nb-card style="width: 100%">
      <nb-card-header>
        User profile
      </nb-card-header>
    </nb-card>
  </div>

</div>
