<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header>
        {{ constants.HEADER}}
      </nb-card-header>
      <nb-card-body>
        <nb-tabset fullWidth>
          <nb-tab [tabTitle]="constants.VULNERABILITIES_TAB">
            <ngx-vulnerabilities></ngx-vulnerabilities>
          </nb-tab>
          <nb-tab [tabTitle]="constants.CIS_REQUIREMENTS_TAB">
            <ngx-cis-requirements></ngx-cis-requirements>
          </nb-tab>
        </nb-tabset>
      </nb-card-body>
    </nb-card>
  </div>
</div>
