<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="/pages/dashboard" (click)="navigateHome()">
      <img src="./assets/images/logo_dashboard.png" style="width:200px; height:80px" title="White flower" alt="Flower">
    </a>
  </div>
</div>

<div class="header-container">
  <nb-actions size="small">
    <nb-action class="control-item">
      <nb-icon icon="book-open-outline" pack="eva" [options]="{ animation: { type: 'pulse' } }" (click)="showSwaggerDoc()"
               nbTooltip="Swagger API REST"></nb-icon>
    </nb-action>
    <nb-action class="control-item">
      <nb-icon icon="github-outline" pack="eva" [options]="{ animation: { type: 'pulse' } }" (click)="openGitHub()"
               nbTooltip="GitHub Docs"></nb-icon>
    </nb-action>
    <nb-action class="control-item">
      <nb-icon icon="bulb-outline" pack="eva" [options]="{ animation: { type: 'pulse' } }" (click)="openTutorials()"
               nbTooltip="Tutorials"></nb-icon>
    </nb-action>
    <nb-action class="control-item">
      <nb-search type="rotate-layout" nbTooltip="Look for..."></nb-search>
    </nb-action>
    <nb-action class="user-action" *nbIsGranted="['view', 'user','admin']" >
      <nb-user [nbContextMenu]="userMenu"
               [name]="user?.name"
               >
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
