
<div class="row">
  <nb-card class="col-md-3">
    <nb-card-body>
      <div class="stat">{{ stats.statisticCard?.projects }}</div>
    </nb-card-body>
    <nb-card-footer>
      <div class="desc">Projects</div>
    </nb-card-footer>
  </nb-card>

  <nb-card class="col-md-3">
    <nb-card-body>
      <div class="stat">{{ stats.statisticCard?.scanRunning }}</div>
    </nb-card-body>
    <nb-card-footer>
      <div class="desc">Running scans</div>
    </nb-card-footer>
  </nb-card>

  <nb-card class="col-md-3">
    <nb-card-body>
      <div class="stat">{{ stats.statisticCard?.scanInQueue }}</div>
    </nb-card-body>
    <nb-card-footer>
      <div class="desc">Scans in queue</div>
    </nb-card-footer>
  </nb-card>

  <nb-card class="col-md-3">
    <nb-card-body>
      <div class="stat">{{ stats.statisticCard?.vulnerabilities }}</div>
    </nb-card-body>
    <nb-card-footer>
      <div class="desc">Vulnerabilities</div>
    </nb-card-footer>
  </nb-card>
</div>

<div class="row" *ngIf="trendResponse?.length > 0">
  <nb-card class="col-md-12">
    <nb-card-body>
      <ngx-dashboard-vuln-trend-analytics [trendResponse]="trendResponse" [sourceData]="chartData" [trendType]="'Linear'" [pieTitle]="'Vulnerability source'"></ngx-dashboard-vuln-trend-analytics>
    </nb-card-body>
  </nb-card>
</div>
<br/>

<div class="row">
  <div class="col-md-12">
    <ngx-project-table></ngx-project-table>
  </div>
</div>
