<div class="row">
  <div class="col-md-4">
    <nb-card>
      <ngx-status-alert *ngIf="scannerTypes" [statusFor]="constantsProject.SCANNER_INFRA" [scannerTypes]="scannerTypes" [dashboard]="true"></ngx-status-alert>
    </nb-card>
  </div>
  <div class="col-md-4">
    <nb-card>
      <ngx-status-alert *ngIf="scannerTypes" [statusFor]="constantsProject.SCANNER_WEB" [scannerTypes]="scannerTypes" [dashboard]="true"></ngx-status-alert>
    </nb-card>
  </div>
  <div class="col-md-4">
    <nb-card>
      <ngx-status-alert *ngIf="scannerTypes" [statusFor]="constantsProject.SCANNER_CODE" [scannerTypes]="scannerTypes" [dashboard]="true"></ngx-status-alert>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <ngx-details-assets [statistics]="rootStatistics.statisticCard"></ngx-details-assets>
  </div>
  <div class="col-md-8">
    <ngx-details-vulns [vulns]="rootStatistics.projectVulnerabilityList"></ngx-details-vulns>
  </div>
</div>

<nb-accordion *ngIf="trendResponse?.length > 0">
  <nb-accordion-item #item>
    <nb-accordion-item-header>
      Vulnerability detection trends
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <div class="row">
        <div class="col-md-12">
          <ngx-dashboard-vuln-trend-analytics [trendResponse]="trendResponse"></ngx-dashboard-vuln-trend-analytics>
        </div>
      </div>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>
<br/>

<div class="row">
  <div class="col-md-12">
    <ngx-project-table></ngx-project-table>
  </div>
</div>
