<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        Global Vulnerability Statistic per Project - contains only High and Critical vulnerabilities detected
      </nb-card-header>
      <nb-card-body>
        <div  echarts [options]="option" class="echart"></div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        Global statistic of detected vulnerabilities within all projects
        <button status="primary" nbButton hero (click)="downloadCSV()" class="right">
          <nb-icon icon="cloud-download-outline" nbTooltip="Export to CSV" pack="eva" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
        </button>&nbsp;
      </nb-card-header>
      <nb-card-body>
        <ng2-smart-table [settings]="vulnSettings" [source]="vulns" ></ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>

</div>

