<div class="row">
  <div class="col-md-5">
    <nb-card>
      <nb-card-header>
        Detected Vulnerabilities
      </nb-card-header>
      <nb-card-body>
        {{details?.detectedVulnerabilities}}
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-5">
    <nb-card>
      <nb-card-header>
        Resolved Vulnerabilities
      </nb-card-header>
      <nb-card-body>
        {{details?.resolvedVulnerabilities}}
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <nb-card>
      <nb-card-header>
        Avg. Time to Fix [days]
      </nb-card-header>
      <nb-card-body>
        {{details?.avgTimeToFix == 0 ? 'n/a' : details?.avgTimeToFix}}
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-5">
    <nb-card>
      <nb-card-header>
        Resolved Criticals [%]
      </nb-card-header>
      <nb-card-body>
        {{details?.resolvedCriticals}} %
      </nb-card-body>
    </nb-card>
  </div>
</div>

