<div class="row">
  <div class="col-md-9">
    <nb-card>
      <nb-card-header>
        {{constants.PROJECT_CHARTS_TREND}}
      </nb-card-header>
      <nb-card-body>
        <ngx-vuln-trend-area-stack></ngx-vuln-trend-area-stack>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-3">
    <nb-card>
      <nb-card-header>
        {{constants.PROJECT_CHARTS_SEVERITY}}
      </nb-card-header>
      <nb-card-body>
        <ngx-vuln-trend-pie></ngx-vuln-trend-pie>
      </nb-card-body>
    </nb-card>
  </div>
</div>
