@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  position: relative;
  display: block;
  overflow: hidden;
  ngx-vuln-trend-area-stack,
  ngx-vuln-trend-pie {
    display: block;
    height: nb-theme(card-height-medium);
    width: 100%;
  }

  ::ng-deep .echart {
    height: 100%;
    width: 100%;
  }
  .subtitle {
    color: nb-theme(text-hint-color);
  }
  nb-card {
    position: relative;
  }

  nb-card-header {
    border-bottom: none;
  }

  .subtitle {
    color: nb-theme(text-hint-color);
  }

  .container {
    display: flex;
    flex-direction: row;
  }

  .chart-container {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
  }

  .chart-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.125rem;
  }
}
