<div class="row">
  <div class="col-md-12">
    <nb-card size="large">
      <nb-card-header>
        <h3>Number of vulnerabilities detected</h3>
        <div class="subtitle">Trend</div>
      </nb-card-header>
      <nb-card-body>
        <div class="chart-container">
          <ngx-vuln-trend-area-stack></ngx-vuln-trend-area-stack>
        </div>
      </nb-card-body>

      <ngx-slide-out [showVisitorsStatistics]="true">
        <ngx-vuln-trend-pie></ngx-vuln-trend-pie>
      </ngx-slide-out>
    </nb-card>
  </div>
</div>
