<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-header>
    <h3>{{tutorialConstants.MIXEWAY_PREVIEW}}</h3>
  </nb-card-header>
  <nb-card-body>
    <nb-stepper orientation="horizontal">
      <nb-step [label]="labelOne">
        <ng-template #labelOne>{{tutorialConstants.PROJECTS}}</ng-template>
        <h3>{{tutorialConstants.CREATE_EDIT}}</h3>
        <div>
          <img style="max-width: 800px" src="assets/images/createproject.gif" alt="CreateProject">
        </div>
        <button nbButton disabled nbStepperNext>prev</button>
        <button nbButton nbStepperNext>next</button>
      </nb-step>
      <nb-step [label]="labelTwo">
        <ng-template #labelTwo>{{tutorialConstants.ASSETS}}</ng-template>
        <h3>{{tutorialConstants.CREATE_EDIT_ASSET}}</h3>
        <div>
          <img style="max-width: 800px" src="assets/images/createassets.gif" alt="CreateAsset">
        </div>
        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton nbStepperNext>next</button>
      </nb-step>
      <nb-step [label]="labelThree">
        <ng-template #labelThree>{{tutorialConstants.WEBAPP}}</ng-template>
        <h3>{{tutorialConstants.CREATE_EDIT_WEBAPP}}</h3>
        <div>
          <img style="max-width: 800px" src="assets/images/createwebapp.gif" alt="CreateAsset">
        </div>
        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton nbStepperNext>next</button>
      </nb-step>
      <nb-step [label]="labelFour">
        <ng-template #labelFour>{{tutorialConstants.CODE}}</ng-template>
        <h3>{{tutorialConstants.CREATE_EDIT_CODE}}</h3>
        <div>
          <img style="max-width: 800px" src="assets/images/createcode.gif" alt="CreateAsset">
        </div>
        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton nbStepperNext>next</button>
      </nb-step>
      <nb-step [label]="labelFive">
        <ng-template #labelFive>{{tutorialConstants.SCANS}}</ng-template>
        <h3>{{tutorialConstants.SCAN_EXECUTION}}</h3>
        <div>
          <img style="max-width: 800px" src="assets/images/createscan.gif" alt="CreateScan">
        </div>
        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton nbStepperNext>next</button>
      </nb-step>
      <nb-step [label]="labelSix">
        <ng-template #labelSix>{{tutorialConstants.RESULTS}}</ng-template>
        <h3>{{tutorialConstants.RESULT_DASHBOARD}}</h3>
        <div>
          <img style="max-width: 800px" src="assets/images/scandetails.gif" alt="ScanDetails">
        </div>
        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton nbStepperNext>next</button>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>

